<div class="flex min-h-full flex-col gap-16 justify-center px-6 py-12 lg:px-8">
  <h1>SIGNUP</h1>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      class="space-y-6 p-4 bg-green-500"
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()">
      <fieldset class="bg-neutral-200 p-4">
        <legend class="bg-white px-2">Reactive form</legend>
        <ol class="flex flex-col gap-4">
          <li>
            <label
              for="name"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Name</label
            >
            <input
              formControlName="name"
              id="name"
              name="name"
              type="text"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <p *ngIf="name.errors?.['required']" class="text-sm text-red-700">
                Name is required
              </p>
              <p *ngIf="name.errors?.['pattern']" class="text-sm text-red-700">
                Enter a valid Name
              </p>
              <p
                *ngIf="name.errors?.['minlength']"
                class="text-sm text-red-700">
                Name must contain at least 3 characters
              </p>
              <p
                *ngIf="name.errors?.['maxlength']"
                class="text-sm text-red-700">
                Name must contain less than 100 characters
              </p>
            </div>
          </li>
          <li>
            <label
              for="email"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Email address</label
            >
            <input
              formControlName="email"
              id="email"
              name="email"
              type="email"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            <div *ngIf="email.invalid && (email.touched || email.dirty)">
              <p
                *ngIf="email.errors?.['required']"
                class="text-sm text-red-700">
                Email is required!
              </p>
              <p *ngIf="email.errors?.['email']" class="text-sm text-red-700">
                Enter a valid email address
              </p>
            </div>
          </li>
          <li>
            <div class="flex items-center justify-between">
              <label
                for="password"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Password</label
              >
              <div class="text-sm">
                <a
                  href="#"
                  class="font-semibold text-indigo-600 hover:text-indigo-500"
                  >Forgot password?</a
                >
              </div>
            </div>
            <input
              formControlName="password"
              id="password"
              name="password"
              type="password"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)">
              <p
                *ngIf="password.errors?.['required']"
                class="text-sm text-red-700">
                Password is required
              </p>
              <p
                *ngIf="password.errors?.['pattern']"
                class="text-sm text-red-700">
                Enter a valid password
              </p>
              <p
                *ngIf="password.errors?.['minlength']"
                class="text-sm text-red-700">
                Password must contain at least 8 characters
              </p>
              <p
                *ngIf="password.errors?.['maxlength']"
                class="text-sm text-red-700">
                Password must contain less than 100 characters
              </p>
            </div>
          </li>
          <li>
            <div class="flex items-center justify-between">
              <label
                for="confirmPassword"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Password</label
              >
            </div>
            <input
              formControlName="confirmPassword"
              id="confirmPassword"
              name="confirmPassword"
              type="password"
              required
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />

            <div
              *ngIf="
                confirmPassword.invalid &&
                (confirmPassword.touched || confirmPassword.dirty)
              ">
              <div *ngIf="confirmPassword.errors?.['required']">
                <p class="text-sm text-red-700">
                  Password confirmation is required
                </p>
              </div>
            </div>
            <div *ngIf="signupForm.errors?.['passwordMismatch']">
              <p class="text-sm text-red-700">
                Password and password confirmation does not match
              </p>
            </div>
          </li>
        </ol>

        <button
          [disabled]="signupForm.invalid"
          type="submit"
          class="mt-4 flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-indigo-200">
          Sign in
        </button>
        <button type="button" (click)="log()">Log Form</button>
      </fieldset>
    </form>
  </div>
</div>
